/* นำเข้าฟอนต์ Inter จาก Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* ตั้งค่าเริ่มต้นให้ทุกส่วนในเว็บ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sarabun", sans-serif;/* ใช้ฟอนต์ Sarabun */
}

body {
  background-color: #f3f4f6; /* สีพื้นหลังหลัก */
  color: #111827;
}